.link{
  font-weight: 700;
  padding: 21px;
  display:inline-block;
}
.logo{
  float: right;/* Hacemos que  el logo lo posicione al lado derecho*/
}
header{
  position:fixed; /*hace que nuestro menu este fijo */
  background:white;
  width: 100%;
  top:0;
}
.menu{
  padding:14px 70px;
  overflow: auto;
}
#home{
  background-image: url(../img/bg-home.jpg); /*Nuestra Imagen de portada*/
  background-position: center;/*Posicion de nuestra imagen al centro */
  background-repeat:no-repeat; /*No repetir nuestra imagen de fondo */
  background-size:cover; /*Cubre todo el tamaño del contenedor*/
  height:554px; /* Altura de nuestro home*/
  text-align: center; /*Alineacion al centro */
  margin-top:80px; /*Darle un margen en la parte de arriba */
}
#home .container{
  color:white; /*color blanco a los textos*/
  padding: 70px; /*Relleno de 70px en todos los lados(top,right,bottom y left)*/
}
.text-home{
  font-size: 53px; /*tamaño de la tipografia*/
}
.btn-home{
  background:#2ECC71; /* Color de fondo */
  color:#fff; /* Color del texto*/
  padding:11px 20px; /* Relleno en el botón 11px (top-botton) y 20px (lef -right)*/
  border-radius:1px; /*redondear el borde 1px*/
  font-weight: 500;
  text-transform: uppercase; /*Convierte el texto a Mayusculas*/
  margin-top:63px; /*margen en la parte de arriba :63px*/
  display: inline-block;
  font-size:14px; /*Tamaño de letra:14px */
}
#services{
  background-color: #F17C72; /*Color de fondo*/
  text-align:center; /*Alineacion centro */
  color: #fff; /*color al texto:blanco */
  padding:70px 7px; /* Relleno en  el botón 70px(top-botton) y 7px (left-right)*/
}
.box-services{
  display: inline-block;
  width: 30%; /*Para que las cajas tengan un ancho de 30%*/
  margin-top:63px; /*margen de la parte de arriba: 63px */
}
.text-services {
  font-size: 35px; /*Tamaño de la letra */
  letter-spacing: 2px;/*Espacio entre cada letra */
}
#work{
    background-color: #fff;
    text-align: center;
    color: #373B47;
    padding: 70px 7px;
}
.text-work{

}
.box-work{
    box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width:30%;
    height: 30%;
    margin-top: 10%;
    margin-left: 3%
}
.box-work img{
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
